/* 禁止选中文本 */
.usn{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}


/* 清除浮动 */
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}


/* 强制不换行 */
.wn {
  word-wrap:normal;
  white-space:nowrap;
}


/* 强制换行 */
.wb {
  white-space:normal;
  word-wrap:break-word;
  word-break:break-all;
}
